TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=

#POSTGRES_HOST=localhost
POSTGRES_ADMIN_USERNAME=postgres
POSTGRES_ADMIN_PASSWORD=critic-postgres-admin-password
POSTGRES_USER_USERNAME=critic
POSTGRES_USER_PASSWORD=critic-postgres-password

#REDIS_HOST=localhost
#REDIS_PORT=6379
REDIS_ADMIN_PASSWORD="critic-redis-password"

#MINIO_HOST=localhost
#MINIO_PORT=9000
MINIO_ADMIN_USERNAME="critic"
MINIO_ADMIN_PASSWORD="critic-minio-password"

MOCKER_HOST=localhost
MOCKER_PORT=8099

RSA_PUBLIC_KEY=
RSA_PRIVATE_KEY=
